.employeesTable {
  margin: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.employeesTable table {
  border: 1px solid black;
  margin: 1rem;
  width: 100%;
}

.employeesTable tr:nth-child(2n) {
  background-color: lightgray;
}

.employeesTable td,
.employeesTable tr {
  margin: 0;
  padding: 0.5rem;
  border-bottom: 1px solid black;
  height: 41px;
}

.pagination {
  margin: 0.2rem;
}

.pagination button {
  margin: 0.2rem;
}

.searchTable {
  font-weight: bold;
  margin: 1rem;
}
